# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [88]:
import pandas as pd
import numpy as np

In [128]:

season10_rank = {'player_name':('sheepmao','泰瑞莎的一石二鳥','DSxT','JumboDick'),'ranking': (np.random.randint(low=1,high=10,size=4))}
season10_rank1=pd.DataFrame(season10_rank)
season10_rank1

  player_name  ranking
0    sheepmao        7
1    泰瑞莎的一石二鳥        6
2        DSxT        9
3   JumboDick        5

In [129]:
season10_rank1

  player_name  ranking
0    sheepmao        7
1    泰瑞莎的一石二鳥        6
2        DSxT        9
3   JumboDick        5

In [130]:
season10_rank1["player_name"][season10_rank1['ranking']==max(season10_rank1['ranking'])]

2    DSxT
Name: player_name, dtype: object

In [131]:
print("the ranking has shown below from number one to the last one：")
season10_rank1.sort_values(by='ranking')

the ranking has shown below from number one to the last one：

  player_name  ranking
3   JumboDick        5
1    泰瑞莎的一石二鳥        6
0    sheepmao        7
2        DSxT        9

In [140]:
rank1=season10_rank1['player_name'][season10_rank1['ranking'].idxmin()]
print('The top player in the rank is:',rank1)

The top player in the rank is: JumboDick